.button {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 288px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 21px 58px calc(21px - 0.208em) 58px;
  background: var(--white);
  color: var(--red);
  border-radius: 27px 0px 27px 0px;
  transform: translate(0px, 20px);
  transition: 0.5s ease-in-out;
  opacity: 0;
  cursor: auto;
  font-family: var(--font);
  text-transform: uppercase;
  pointer-events: none;

  font-size: 18px;
  line-height: 1.16;
  text-align: center;

  box-shadow:
    0 8px 17px rgba(0, 0, 0, 0.1),
    0 32px 32px rgba(0, 0, 0, 0.09),
    0 71px 43px rgba(0, 0, 0, 0.05),
    0 127px 51px rgba(0, 0, 0, 0.01);
}
