@font-face {
  font-family: 'drukwide';
  src:
    url('../fonts/druk-wide-super.woff2') format('woff2'),
    url('../fonts/druk-wide-super.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
