.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 26px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: 99;
  padding: 15px;

  span {
    display: block;
    font-family: var(--milka);
    font-size: 16px;
    line-height: 1;
    letter-spacing: 5%;
    width: 100%;
    text-align: center;
    margin-top: 24px;
    padding-right: 60px;
    @media (min-width: 450px) {
      padding-right: 0px;
    }
  }
}

.header__logo {
  position: absolute;
  right: 15px;
}
