.hero__image {
  display: flex;
  justify-content: center;
  position: relative;
  width: 375px;
  height: 350px;
  margin: auto;
  flex-shrink: 0;

  picture {
    display: block;
    width: 500px;
    height: 100%;
    flex-shrink: 0;
    @media (min-height: 812px) {
      width: 550px;
    }
    img {
      display: block;
      position: relative;
      transform: translate(8%, -1%);
      width: 100%;
      height: auto;
      @media (min-height: 680px) {
        transform: translate(8%, -5%);
      }
    }
  }
}

.title {
  font-family: var(--milka);
  text-align: center;
  font-size: 28px;
  line-height: 1.1;
  margin-top: 90px;
  @media (min-width: 414px) {
    font-size: 38px;
  }
}
