.hero {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-height: calc(100svh - 120px);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  overflow: hidden;
  @media (max-height: 759px) {
    min-height: calc(100svh - 100px);
  }
}

.hero__image {
  display: block;
}

.body[data-state='pending'],
.body[data-state='start'] {
}
.body[data-state='finish'] {
}
