:root {
  --font: 'drukwide', sans-serif;

  --white: #ffffff;
  --black: #000000;
  --brown: #7e3d23;
  --red: #e30613;
  --red-bg: #c32822;
  --green: #19ac15;
  --violet: #7c68ab;
}

@import 'reset';
@import 'preloader';
@import 'fonts';
@import 'buttons';
@import 'hero';
@import 'header';
@import 'footer';
