:root {
  --font: 'drukwide', sans-serif;
  --milka: 'lorrach-heavy', sans-serif;
  --white: #ffffff;
  --black: #000000;
  --brown: #7e3d23;
  --red: #e30613;
  --red-bg: #c32822;
  --green: #19ac15;
  --violet: #7c68ab;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  z-index: 0;
}

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  font-family: var(--font);
  background: var(--violet);
  color: var(--white);
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: inherit;
}

b {
  font-family: var(--font);
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
menu {
  list-style: none;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
}
button:disabled {
  cursor: auto;
  pointer-events: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100svh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  overflow: hidden;
  z-index: 1;
}

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: var(--violet);
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transition: opacity 0.6s ease-out, visibility 0.6s ease-out;
  transition: opacity 0.6s ease-out, visibility 0.6s ease-out;
}
.preloader:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border-left: 5px solid var(--white);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 5px solid var(--white);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  -webkit-animation: spin 0.4s linear infinite;
          animation: spin 0.4s linear infinite;
}
.preloader.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@font-face {
  font-family: "drukwide";
  src: url("../fonts/druk-wide-super.woff2") format("woff2"), url("../fonts/druk-wide-super.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "lorrach-heavy";
  src: url("../fonts/lorrach-heavy.woff2") format("woff2"), url("../fonts/lorrach-heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 288px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 21px 58px calc(21px - 0.208em) 58px;
  background: var(--white);
  color: var(--green);
  border-radius: 20px;
  -webkit-transform: translate(0px, 20px);
      -ms-transform: translate(0px, 20px);
          transform: translate(0px, 20px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0;
  cursor: auto;
  font-family: var(--font);
  text-transform: uppercase;
  pointer-events: none;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  -webkit-box-shadow: 0 8px 17px rgba(0, 0, 0, 0.1), 0 32px 32px rgba(0, 0, 0, 0.09), 0 71px 43px rgba(0, 0, 0, 0.05), 0 127px 51px rgba(0, 0, 0, 0.01);
          box-shadow: 0 8px 17px rgba(0, 0, 0, 0.1), 0 32px 32px rgba(0, 0, 0, 0.09), 0 71px 43px rgba(0, 0, 0, 0.05), 0 127px 51px rgba(0, 0, 0, 0.01);
}

.body.loaded[data-state=start] .button,
.body.loaded[data-state=finish] .button {
  cursor: pointer;
  pointer-events: all;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.hero__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 375px;
  height: 350px;
  margin: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.hero__image picture {
  display: block;
  width: 500px;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (min-height: 812px) {
  .hero__image picture {
    width: 550px;
  }
}
.hero__image picture img {
  display: block;
  position: relative;
  -webkit-transform: translate(8%, -1%);
      -ms-transform: translate(8%, -1%);
          transform: translate(8%, -1%);
  width: 100%;
  height: auto;
}
@media (min-height: 680px) {
  .hero__image picture img {
    -webkit-transform: translate(8%, -5%);
        -ms-transform: translate(8%, -5%);
            transform: translate(8%, -5%);
  }
}

.title {
  font-family: var(--milka);
  text-align: center;
  font-size: 28px;
  line-height: 1.1;
  margin-top: 90px;
}
@media (min-width: 414px) {
  .title {
    font-size: 38px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 26px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: 99;
  padding: 15px;
}
.header span {
  display: block;
  font-family: var(--milka);
  font-size: 16px;
  line-height: 1;
  letter-spacing: 5%;
  width: 100%;
  text-align: center;
  margin-top: 24px;
  padding-right: 60px;
}
@media (min-width: 450px) {
  .header span {
    padding-right: 0px;
  }
}

.header__logo {
  position: absolute;
  right: 15px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 120px;
  z-index: 2;
  margin-top: auto;
}
.footer:before {
  content: "";
  width: 100%;
  height: 120%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: url("../img/svg/footer-bg.svg") no-repeat center 0px;
  background-size: 500px 100%;
}
@media (min-width: 500px) {
  .footer:before {
    background-size: 100% 100%;
  }
}
@media (min-height: 680px) {
  .footer:before {
    height: 250%;
    background-size: 800px 100%;
  }
}
@media (min-height: 680px) and (min-width: 500px) {
  .footer:before {
    background-size: 100% 100%;
  }
}

.footer__image {
  display: none;
}
@media (min-height: 680px) {
  .footer__image {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 74%;
    width: 180px;
  }
}